@use "../styles/variables" as *;

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.app__main {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.app__content {
  padding: 18px;

  @media (min-width: 768px) {
    padding: 22px;
  }
}
