@use "../../styles/variables" as *;

.app {
  min-height: 100vh;
  display: flex;
  background: $bg-primary;
  color: $text-primary;
}

.app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.app__content {
  padding: 16px;
  @media (min-width: 768px) {
    padding: 22px;
  }
}
